:root {
  --color-main-background: #fff;
  --color-primary: #0079c2;
  --color-primary-text: #fff;

  --color-secondary: #21ba45;
  --color-secondary-text: #fff;

  --color-error-background: #ffc0cb;
  --color-error-border: #DB2828;
  --color-error-text: #912D2B;
  --color-warning-text: #916f13;

  --color-modal-background: color(#000 alpha(-20%));
  --color-modal-body-background: var(--color-main-background);
}
