@block Modal {
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: color(#000 alpha(-20%));

  display: flex;
  justify-content: center;
  align-items: center;

  @element content {
    background: #fff;
  //padding: 1em;
    border-radius: 5px;
    overflow: auto;
    max-height: 100%;
  }
}

