.FieldLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__label {
    flex: 1 0 150px;
    max-width: 220px;

    /*
    //padding: 8px;
    //font-weight: 300;
    //letter-spacing: .09em;
    //text-transform: uppercase;*/
  }

  &__control {
    flex: 1 0 250px;

    input:not([type='checkbox']),
    textarea {
      width: 100%;
      padding: 0.5em;
    }
  }
}
