@import "../../styles-auth.css";

.AuthPageLayout {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;

//background: var(--color-main-background);
  background: var(--color-background-auth);

  &__body {
    height: 100%;
    max-width: 510px;
    background: var(--color-background-auth);
    //color: var(--color-primary);
    color: var(--color-text-auth);
  }
}

