@import '../../../../../../../../common/app-style/vars.css';

.AttachmentItem {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 3%;

  &--fullLoaded {
    .AttachmentItem__fileName {
      cursor: pointer;
    }
    .AttachmentItem__preview {
      cursor: pointer;
    }
  }

  &__fileName {
    color: var(--color-primary);
    font-weight: bold;
    text-align: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    min-width: 160px;
  }

  &__remove {
    // todo @ANKU @LOW - @color
    color: #bfbfbf;
    margin-left: 5px;
    cursor: pointer;
  }

  &__preview {
    display: block;
    width: 150px;
  }
}
